html {
  font-size: 100%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Matter SQ", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  background: #fff;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  line-height: 1.5;
}

*:disabled {
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.page-loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.page-loader > p {
  font-size: 24px;
  font-weight: 600;
}

.table-finished {
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: 500;
  color: #83092e;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.12px;
}

.alert {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.12px;
}

.alert-danger {
  color: #ff7373;
}

.seated,
.cancelled,
.finished,
.booked {
  font-weight: 500;
}

.seated {
  color: #18940a;
}

.cancelled {
  color: #9c0b0b;
}

.finished {
  color: #096197;
}
