.ActionButton {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.ActionButton_button {
  border: none;
  background-color: #83092e;
  color: #fff;
  padding: 14px 24px;
  border-radius: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.12px;
  cursor: pointer;
}

.ActionButton_button:hover {
  opacity: 0.9;
}

.ActionButton_button > svg {
  width: 22px;
  height: 22px;
}
