.Reservations {
  padding-bottom: 150px;
}

.Reservations_title,
.Reservations_search_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.1px;
  margin-bottom: 24px;
}

.Reservations_search {
  margin-bottom: 48px;
}

.Reservations_search_actions {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.Reservations_search_actions > li {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.12px;
  font-weight: 500;
  color: #83092e;
}

.Reservations_search_data {
  border-radius: 6px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.Reservations_search_data_item > p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.12px;
}

.Reservations_search_data_item > p:first-of-type {
  font-weight: 500;
  margin-bottom: 8px;
}
